@model GigHub.Core.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="details">
    <h2>
        @Model.Gig.Artist.Name
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.IsFollowing)
            {
                <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Following</button>
            }
            else
            {
                <button class="btn btn-default js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Follow</button>
            }
        }
    </h2>  
</div>


<h3>Performing at @Model.Gig.Venue <br /> 
    @Model.Gig.DateTime.ToString("d MMM yyyy") <br />
    at @Model.Gig.DateTime.ToString("HH:mm")</h3>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <h4>You are Going to this Event</h4>
}

@section scripts{
    <script>
        $(document).ready(function () {
            DetailsController.init("#details");
        });
    </script>
}